/*font*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*#f24259*/

/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
input,
textarea {
  outline: none;
  border: none;
}

/*global*/
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}
.subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  color: #333;
}
.underline {
  width: 3rem;
  height: 0.1rem;
  background-color: #f24259;
  display: inline-block;
  margin-bottom: 1rem;
}
.desc {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #333;
}
/*home*/
#home {
  min-height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(60, 62, 64, 0.9)),
      to(rgba(60, 62, 64, 0.9))
    ),
    url("../images/header-background.jpg");
  background: linear-gradient(
      to right,
      rgba(60, 62, 64, 0.9),
      rgba(60, 62, 64, 0.9)
    ),
    url("../images/header-background.jpg");
  background-size: cover;
  background-position: 0px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*nav*/
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#nav.fixed {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
#nav.fixed .menu a {
  color: #333;
}
#nav .logo {
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#nav .logo a {
  height: 100%;
  display: inline-block;
}
/*logo svg*/
#logo-svg {
  overflow: visible;
  height: 100%;
}
#nav .cls-1 {
  stroke: none;
  fill: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  stroke-miterlimit: 10;
}
#nav.fixed .cls-1 {
  fill: #333;
}
#nav.fixed .menu a.active {
  color: #f24259;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu a {
  color: #fff;
  padding: 0.8rem 1rem;
}

.menu a i {
  margin-right: 0.4rem;
  display: none;
}
#nav .menu a.active {
  color: #f24259;
}

/*hero*/
#hero {
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}

#hero .content {
  position: absolute;
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}
.description {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}
.description span {
  color: #f24259;
}
.content a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: #f24259;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
.content a:hover {
  background-color: #d83248;
}

/*about*/
#about {
  padding: 5rem 5%;
  text-align: center;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2rem 0 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 1rem;
}
.image img {
  display: block;
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.skills {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.skills.progress {
  opacity: 1;
}
.skill {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
}
.skill:last-child{
  margin-bottom: 0;
}
.skill-title {
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
.progress-outer {
  position: relative;
  width: 100%;
  height: 0.2rem;
  background-color: #e7e7e7;
  border-radius: 0.4rem;
}
.progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f24259;
  border-radius: 0.4rem;
  width: 0%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.percent {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.8rem;
}

/*portfolio*/

#portfolio {
  padding: 5rem 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.portfolio-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
  opacity: 0;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.portfolio-item img {
  display: block;
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(247, 247, 247,0.95);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.portfolio-item .overlay a {
  color: #333;
  padding: 0.2rem 0.8rem;
}
.portfolio-item .overlay a i{
  margin-right: 0.1rem;
}
.portfolio-item .overlay a:hover {
  color: #f24259;
}
.portfolio-item .overlay .project-title {
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -moz-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  -o-transform: translateY(-400%);
}
.portfolio-item .overlay .details {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  width: 100%;
  -moz-transform: translateY(400%);
  -ms-transform: translateY(400%);
  -o-transform: translateY(400%);
}
.portfolio-item .overlay .details p{
  line-height: 1.1;
  font-size: 0.9rem;
}
.portfolio-item:hover .overlay {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio-item:hover .project-title,
.portfolio-item:hover .details {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.project-title {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.short-desc {
  color: #333;
  margin-bottom: 0.6rem;
}

/*contact*/
#contact {
  padding: 5rem 5%;
  text-align: center;
}
.contact-form {
  width: 50%;
  margin: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form-group .input-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.form-group:first-of-type .input-wrapper:first-child {
  margin-right: 2rem;
}
.form-group .input-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.input-wrapper svg .border-line {
  fill: none;
  stroke-width: 2;
  stroke: #f24259;
  stroke-dasharray: 1550px;
  stroke-dashoffset: 1550px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.input-wrapper svg .border-line.draw {
  stroke-dashoffset: 0px;
}
.input-wrapper input,
.input-wrapper textarea {
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: #f4f4f4;
  width: 100%;
}
.input-wrapper textarea {
  display: block;
}
.btn {
  padding: 0.8rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f24259;
  color: #fff;
  border: 1px solid #f24259;
}
.btn:hover {
  color: #f24259;
  background-color: #fff;
  border: 1px solid #f24259;
}

/*footer*/
#footer {
  padding: 2rem 5%;
  background-color: rgba(60, 62, 64);
  color: #fff;
  text-align: center;
  position: relative;
}
#footer .launcher {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f24259;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
#footer p span {
  color: #f24259;
}
.social {
  margin: 0.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social a {
  color: #f7f7f7;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.2rem 1rem;
}
.social a:hover {
  color: #f24259;
}

/*scroll animation classes*/
.fade-in {
  opacity: 1;
}
.fade-in-left {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.fade-in-up{
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
/*progress bar animation setting*/
.skills.progress .skill:nth-child(1) .progress-inner {
  width: 99%;
}
.skills.progress .skill:nth-child(2) .progress-inner {
  width: 89%;
}
.skills.progress .skill:nth-child(3) .progress-inner {
  width: 92%;
}
.skills.progress .skill:nth-child(4) .progress-inner {
  width: 80%;
}
.skills.progress .skill:nth-child(5) .progress-inner {
  width: 75%;
}
.skills.progress .skill:nth-child(6) .progress-inner {
  width: 70%;
}
.skills.progress .skill:nth-child(7) .progress-inner {
  width: 55%;
}
.skills.progress .skill:nth-child(8) .progress-inner {
  width: 45%;
}
.skills.progress .skill:nth-child(9) .progress-inner {
  width: 40%;
}
.fade-in-grow {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*media*/
@media (max-width: 992px){
  .portfolio-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .menu a i {
    display: inline;
  }
  .menu a span {
    display: none;
  }
  .menu a {
    padding: 0.2rem 0.6rem;
  }
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .info {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .skills {
    width: 100%;
  }
  .portfolio-wrapper {
    grid-template-columns: 1fr;
  }
  .contact-form {
    width: 100%;
  }
  .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-group .input-wrapper {
    width: 100%;
  }
  .form-group:first-of-type .input-wrapper:first-child {
    margin-bottom: 1rem;
  }
}