/*font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  /* margin-top: 3rem; */
}
#header{
  width: 100%;
  height: 100vh;
  position: relative;
  background: 
  linear-gradient(to right, rgba(48, 46, 46, 0.95), rgba(48, 46, 46, 0.95)), url('header-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
  padding: 2rem 5%;
  z-index: 6;
  top: 0;
  width: 100%;
  height: 3rem;
  font-weight: bold;
  transition: all 0.3s linear;
}
#nav.white{
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
}
#nav.white a{
  color: #333;
}
#nav.white a.active{
  color: #f24259;
}
.logo a{
  color: #fff;
  font-size: 1.5rem;
}
.logo a span{
  color: #f24259;
}
.menu{
  display: flex;
}
.menu a{
  color: #fff;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;
}
.menu a.active{
  color: #f24259;
}
.menu a i {
  margin-right: 0.4rem;
}
.hero{
  position: relative;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-bottom: 2rem;
}
.hero.margin-top{
  margin-top: 64px;
}
.hero .content{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}
.description{
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}
.description span{
  color: #f24259;
}
.action{
  /* position: absolute; */
  z-index: 5;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.action a{
  color: #fff;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.6rem 0.8rem;
  border-radius: .4rem;
  transition: all 0.1s linear;
}
.action a:hover{
  background-color: #f24259;
  border: 1px solid #f24259;
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/*about*/
.about-me{
  padding: 4rem 0;
}